<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        
        <div class="info-div">
            <img src="<%= title.image_url%>" alt="">
            <div class="info">
                <h1><%= title.title%></h1>
                <p><strong><%= title.type%></strong></p>
                <p>Rated <strong><%= title.rated%></strong></p>
                <p><%= title.synopsis%><a href="<%= title.url%>">Visit MyAnimeList</a></p>
                <form action="/profile" method="POST">
                    <input class="btn btn-success" type="submit" value="Add to List">
                </form>
                <p><a class="btn btn-outline-dark" href="/search">Back to Search</a></p>
            </div>
        </div>

    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>