<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        <h1>PROFILE</h1>
        <% for (let i=0; i < titles.length; i++ ) { %>
        <div class="saved">
            <img src="<%= titles[i].image_url%>" alt="">
            <h3><a href="profile/<%= titles[i]._id%>"><%= titles[i].title%></a></h3>
            <p><%= titles[i].epsfinished%> episodes of <%= titles[i].episodes%> completed</p>
            <form style="display: inline; margin-right: 1rem;" action="/profile/<%= titles[i]._id%>?_method=DELETE"
                method="POST">
                <input class="btn btn-danger" type="submit" value="DELETE">
            </form>
            <a class="btn btn-secondary" style="margin: 0 1rem 0 1rem;" href="/profile/<%= titles[i]._id %>/edit">EDIT</a>
        </div>
        <% } %>
        <p><a class="btn btn-light" href="/search">Back to Search</a></p>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>

</html>