<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/navbar.ejs') %>
  <main>
    <div id="search">
      <% for (let i=0; i < results.length; i++) { %>
      <div class="card">
        <h3><a href="/search/<%= results[i].title%>"><%= results[i].title%></a></h3>
        <h4><%= results[i].type%></h4>
        <p><%= results[i].episodes%> episodes aired</p>
        <% if (results[i].airing === true) { %>
        <p>Still Airing</p>
        <% } else { %>
        <p>Completed <%= new Date(results[i].end_date).toLocaleDateString('en-US')%></p>
        <% } %>
        <img class="poster" src="<%= results[i].image_url%>" alt="">
      </div>

      <% } %>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>

</html>