<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>
    <main>
        <div class="info-div">
            <img src="<%= title.image_url%>" alt="">
            <div class="info">
                <h1><%= title.title%></h1>
                <p><%= title.epsfinished%> episodes of <%= title.episodes%> completed</p>
                <form style="display: inline; margin-right: 1rem;" action="/profile/<%= title._id%>?_method=DELETE"
                    method="POST">
                    <input class="btn btn-danger" type="submit" value="DELETE SERIES">
                </form>
                <a class="btn btn-secondary" style="margin: 0 1rem 0 1rem;" href="/profile/<%= title._id %>/edit">EDIT</a>
                <p class="back"><a class="btn btn-secondary" href="/search">Back to Search</a></p>
                <p><a class="btn btn-primary" href="/profile">Back to Profile</a></p>
            </div>
        </div>

        <div class="reviews">
            <h3>Write Your Review Here!</h3>
            <form action="/profile/<%= title._id%>/reviews" method="POST">
                <textarea name="text"></textarea>
                <select name="rating" id="">
                    <option value="1">1: Meh.</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5: Awesome!</option>
                </select>


                </textarea>
                <input type="submit" value="Add Review">
            </form>
            <div class="current-reviews">
                <% if (title.reviews.length > 0) { %>
                <h3>Current Reviews</h3>
                <% for (let i=0; i < title.reviews.length; i++) { %>
                <p><%= title.reviews[i].text%> - Rating: <%= title.reviews[i].rating %></p>
                <% } %>
                <% } else { %>
                <h3>No Reviews</h3>
                <% } %>
            </div>
        </div>

    </main>
<%- include('./partials/footer.ejs') %>
</body>

</html>